
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Leveraging-data-to-dynamically-market-counterfeit-parking-spaces.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
